
# BEGIN WordPress
# As diretrizes (linhas) entre "BEGIN WordPress" e "END WordPress" são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /desafio_mundoFinanceiro/WordPress-Plugin-Boilerplate/mundo_financeiro/trunk/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /desafio_mundoFinanceiro/WordPress-Plugin-Boilerplate/mundo_financeiro/trunk/index.php [L]
</IfModule>

# END WordPress